{% extends 'base.html' %}
{% load static %}
{%  load bootstrap %}
{% block title %}
    <title> Coordenador </title>
{% endblock %}

{% block main %}
    <div class="container">
    <h1>Vincular Orientador a Aluno</h1>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
          <form  method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-success"> Salvar</button>
        </form>
        </div>
        <div class="col">

        </div>
      </div>
    </div>

{% endblock %}