
{% extends "base.html" %}  {% block main %}
<main role="main">
    <div class="container">
        <div class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-12">
                <h2>Meus Alunos</h2>
            </div>
            <div class="col-md-12">
                <table id="alunos-list" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome do Aluno</th>
                        <th>Cadastrar</th>

                    </tr>
                </thead>
                {% for relacao in relacoes %}
                <tbody>
                    {% if relacao.status == 'Vinculado' %}
                    <tr>
                        <td>
                            <strong>{{ relacao.aluno.aluno.nome }}</strong><br>
                             <strong>{{ relacao.status }}</strong><br>

                        </td>
                        <td>
                            <a href="{% url 'addProjeto' relacao.id %}" class="btn btn-secondary">Acessar</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>

                {% empty %}
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: center">
                            Nenhum aluno cadastrado
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <strong>

    </strong>
</main>

{% endblock main%}
