{% extends 'base.html' %}
{% block title %}
    <title> TCC </title>
{% endblock %}
{% block main %}
    <h1>Lista de TCCs</h1>
    {% for tcc in tccs %}
        <div class="container">
        <ul class="list-group">
          <li class="list-group-item active"><h6>Título:</h6> {{ tcc.titulo }}</li>
          <li class="list-group-item"><h6> Autor:</h6> {{ tcc.autor }} </li>
          <li class="list-group-item"><h6>Orientador:</h6> {{ tcc.orientador.professor.nome }}</li>
          <li class="list-group-item"><h6> Indentificação da banca:</h6> {{ tcc.banca.identificacao }}</li>
        </ul>
        </div>
    {% endfor %}
{% endblock %}